* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.isWinner {
  background: navajowhite;
}


.rule {
  text-align: right;
  margin-right: 5%;
}

.card {
  width: 90%;
  border: solid 3px black;
  margin: 0px auto;
  font-size: 0px;

}

.column1{
  width: 20%;
  display: inline-block;
  color:RGB(118, 115, 208);
}
.column2{
  width: 20%;
  display: inline-block;
  color:RGB(126, 21, 26);
}
.column3{
  width: 20%;
  display: inline-block;
  color: RGB(187, 188, 64);
}
.column4{
  width: 20%;
  display: inline-block;
  color:RGB(76, 72, 241);
}
.column5{
  width: 20%;
  display: inline-block;
  color: RGB(0, 236, 51);
}

.header {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;

}


.b, .i, .n, .g, .o{
  font-size:28px;
  height:8vh;
}

.square {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  border: solid 1px black;

  &.marked {
    background: rgba(30, 144, 255, .4);
  }
}


